@charset "UTF-8";
/* CSS Document */
html{
	background:url(homebackground.jpg);
}
body{
	padding-top: 8%;
	font-family:Arial, Gadget, sans-serif;
}
button{
	margin:10px;
	height: inherit;
	width:inherit;
	font-size:16px;
	color:#000;
	border-radius:5px;
	border-color: white;
	background: white;
}
label{
	font-size: 18px;
	margin-top: 10px;
}
.form-control{
	font-size:16px;
	height: 30px;
	width: 300px;
	margin-bottom: 10px;
}
a{
	font-size: 12px;
	color: black;
}