<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ETES</title>
	
     <!-- CSS -->
    <link rel="stylesheet" href="./CSS/headerstyle.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container" id="con2">
		<nav class="navbar navbar-inverse navbar-fixed-top" style="background:red;">
			<div class="navbar-header" style="float:left;">
				<a href="./header.html"><img src="./images/logo.png" class="Logo"></a>
			</div>
			<div style="float:right">
				<ul class="nav navbar-nav" style="float:right;">
				<a href="./managetickets.html" style="margin-right:25px;"><img src="./images/manage.png" class="icon"></a>
				<a href="./header.html" style="margin-right:25px;"><img src="./images/search.png" class="icon"></a>
				<a href="./landing.html" style="margin-right:25px;"><img src="./images/logout.png" class="icon"></a>
			</ul>
		</nav>
        </div>
        </div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 20px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" align="center">
      <img src="./images/levisstadium.jpg" style="height:750px; width:inherit;"></img>
      <div class="carousel-caption">
        <h>Levi's Stadium</h>
        <br /><br /><br /><br />
        <p1><a href="#" class="btn btn-default" type="Event" value="Event" title="Events at Levi's Stadium">
          				<span style="text-shadow: 2px 2px #CCC;"><b>Events at Levi's Stadium</b></span>
          				</a></p1>
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/golden1center.jpg" style="height:750px; width:inherit;"></img>
      <div class="carousel-caption">
        <h>Golden 1 Center</h>
         <br /><br /><br /><br />
        <p1><a href="#" class="btn btn-default" type="Event" value="Event" title="Events at Golden 1 Center">
          				<span style="text-shadow: 2px 2px #CCC;"><b>Events at Golden 1 Center</b></span>
          				</a></p1>
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/oraclearena.jpg" style="height:750px; width:inherit;"></img>
      <div class="carousel-caption">
        <h>Oracle Arena</h>
         <br /><br /><br /><br />
        <p1><a href="#" class="btn btn-default" type="Event" value="Event" title="Events at Oracle Arena">
          				<span style="text-shadow: 2px 2px #CCC;"><b>Events at Oracle Arena</b></span>
          				</a></p1>
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/sapcenter.jpg" style="height:750px; width:inherit;"></img>
      <div class="carousel-caption">
        <h>SAP Center</h>
        <br /><br /><br /><br />
        <p1><a href="#" class="btn btn-default" type="Event" value="Event" title="Events at SAP Center">
          				<span style="text-shadow: 2px 2px #CCC;"><b>Events at SAP Center</b></span>
          				</a></p1>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</body>
</html>
