<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Landing</title>
<link rel="stylesheet" type="text/css" href="./css/landingstyle.css" />
<link rel="stylesheet" type="text/css" href="./css/simplegrid.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
	<body align=center style="background-color:transparent;">
		<div class="grid grid-pad" style="background-color:transparent;">
    		<div class="col-8-12">
        	   	<img src= "./images/landinglogo.png" alt="company Logo" style="max-width:100%"/>
    		</div>
    		<div class="col-4-12">
    		    <form name="form" role="form">
        		<div class="form-group">
            		<label for="Email">Email</label>
                    <br />
	            	<input type="text" placeholder="Enter Email" id="email" class="form-control"/>
        		</div>
        		<div class="form-group">
	            	<label for="password">Password</label>
                    <br />
    	        	<input type="password" placeholder="Password" id="password" class="form-control"/>
        		</div>
     			<div class="form-group">
     			<div class="row">
            			<a href="./header.html" class="btn btn-default" type="submit" value="Login" title="Login">
          				<span>Login</span>
          				</a>
                        <a href="./signup.html" class="btn btn-default" type="create" value="Sign Up" title="Create Account">
                        <span>Create Account</span>
         			</a>
            		</div>
            		<div class="row">
            			<a href="" class="link"><strong><u>Forgot Username or Password</u><strong></a>
            		</div>
     			</div>
   			</form>
    		</div>
    		</div>
</body>
</html>
