<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ETES</title>
	
    <!-- CSS -->
    <link rel="stylesheet" href="./CSS/headerstyle.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container" id="con2">
		<nav class="navbar navbar-inverse navbar-fixed-top" style="background:red;">
			<div class="navbar-header" style="float:left;">
				<a href="./index.html"><img src="./images/logo.png" class="Logo"></a>
			</div>
			<div style="float:right">
				<ul class="nav navbar-nav" style="float:right;">
				<a href="./managetickets.html" style="margin-right:25px;"><img src="./images/manage.png" class="icon"></a>
				<a href="./search.html" style="margin-right:25px;"><img src="./images/search.png" class="icon"></a>
				<a href="./login.html" style="margin-right:25px;"><img src="./images/logout.png" class="icon"></a>
			</ul>
		</nav>
        </div>
        
<div class="jumbotron text-center search" style = "background-color: white;margin-left:20px;margin-right:20px;margin-bottom:20px;margin-top:0;">
<div class="container">
<div class = "row" style:"float:left;">
<ul class="nav nav-tabs" style="float:left;">
  <li class="active"><a href="#sell" data-toggle="tab" style="font-size:20px;">Your Tickets</a></li>
  <li><a href="#buy" data-toggle="tab" style="font-size:20px;">Your Purchases</a></li>
  </ul>
  </div>
  </div>
  <div class="tab-content">
  <!--Sell-->
  <div id="sell" class = "tab-pane active">
  <p><a href="./sell.html" class="btn btn-danger" title="Sell" style="font-size:20px;margin-bottom:10px;float:right;height:inherit; width=inherit;margin-right:50px;"><span>Sell Tickets</span></a></p>

  <h align=center style="margin-top:10px;margin-left:80px;">Past Sales</h>
  <table align=center class="table table-bordered table-hover">
  <tr align=center>
  <th>Price</th>
  <th>Event</th>
  <th>Date</th>
  <th>Seats</th>
  </tr>
  <tr>
  <td>$99.99</td>
  <td>Warriors at Oracle Arena</td>
  <td>11/19/16</td>
  <td>AA22</td>
  </tr>
  </table>
  <!--Lists Tickets You Have For Sale-->
  </div>
  <!--Buy-->
  <div id="buy" class = "tab-pane">
  <h>Past Purchases</h>
  <table align=center class="table table-bordered table-hover">
  <tr align=center>
  <th>Price</th>
  <th>Event</th>
  <th>Date</th>
  <th>Seats</th>
  <th>Seller</th>
  </tr>
  <tr>
  <td>$49.99</td>
  <td>Warriors at Oracle Arena</td>
  <td>10/14/16</td>
  <td>GG12</td>
  <td>Bob Smith</td>
  </tr>
  </table>
  <!--Lists Past Purchases-->
  </div>
  </div>
</div>
<div class="footer">
<span style="color:black"><p>&copy;2016 <b><i>CS189 Team 4</i></b> All Rights Reserved.</p></span>
</div>
</body>
</html>
