<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./CSS/headerstyle.css">
    <link rel="stylesheet" type="text/css" href="./css/signupstyle.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" id="con2">
		<nav class="navbar navbar-inverse navbar-fixed-top" style="background:red;">
			<div class="navbar-header" style="float:left;">
				<a href="#"><img src="./images/logo.png" class="Logo"></a>
			</div>
			<div style="float:right">
				<ul class="nav navbar-nav" style="float:right;">
				<a href="./landing.html" style="margin-right:25px;"><img src="./images/manage.png" class="icon"></a>
				<a href="./header.html" style="margin-right:25px;"><img src="./images/search.png" class="icon"></a>
				<a href="./landing.html" style="margin-right:25px;"><img src="./images/logout.png" class="icon"></a>
			</ul>
		</nav>
        </div>
<div class="jumbotron text-center">
        	<h1> Sell Tickets </h1>
        	<div align=center>
    		    <form name="form" role="form">
                <div class="form-group">
            		<label for="Name">Enter Event</label>
                    <br />
	            	<input type="text" name="name" id="name" placeholder= "Event Name" class="form-control"/>
        		</div>
        		 <form name="form" role="form">
                <div class="form-group">
            		<label for="Address">Enter Section</label>
                    <br />
	            	<input type="text" name="Section" id="section" placeholder= "Section" class="form-control"/>
        		</div>
        		<div class="form-group">
            		<label for="Address">Enter Seat Number</label>
                    <br />
	            	<input type="text" name="Seat" id="seat" placeholder= "##" class="form-control"/>
        		</div>
        		<div class="form-group">
            		<label for="Address">Enter Ticket Price</label>
                    <br />
	            	<input type="text" name="Price" id="price" placeholder= "$00.00" class="form-control"/>
        		</div>
        		<div class="form-group">
            		<label for="Email">Enter Event Date</label>
                    <br />
	            	<input type="text" name="date" id="date" placeholder= "MM/DD/YYYY" class="form-control"/>
        		</div>
     			<div class="form-group">
     			<div class="row">
                        <a href="./header.html" type="sell" class="btn btn-danger" value="" title="Sell">
                        <span>Sell My Tickets</span>
         			</a>
            		</div>
     			</div>
   			</form>
    		</div>
</body>
</html>
