<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ETES</title>
	
    <!-- CSS -->
    <link rel="stylesheet" href="./CSS/headerstyle.css">
    <link rel="stylesheet" type="text/css" href="./css/signupstyle.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script>
	function validateEmail(field)
	{
		if(field=="") return "No Email was entered.\n"
		else if(!((field.indexOf("." > 0) && (field.indexOf("@") > 0) || /[^a-zA-Z0-9.@_-].test(field))
		return "Invalid Email \n"
		return ""
	}
	function validatePassword(field, field2)
	{
		if(field != field2)
		return "Password does not match. \n"
	}
	function validateZIP(field)
	{
		if(field=="") return "No ZIP code entered. \n"
		else if(field.length != 5 || ![0-9].test(field))
		return "ZIP code invalid. \n"
	}
	}
	</script>
</head>

<body align=center style:"background:white;">
<div class="container" id="con2">
		<nav class="navbar navbar-inverse navbar-fixed-top" style="background:red;">
			<div class="navbar-header" style="float:left;">
				<a href="./landing.html"><img src="./images/logo.png" class="Logo"></a>
			</div>
		</nav>
        </div>
        <div class="jumbotron text-center">
        	<h> Join ETES </h>
        	<div align=center>
    		    <form action="./php/dbcreate.php" name="form" role="form">
                <div class="form-group">
            		<label for="First Name">Enter First Name</label>
                    <br />
	            	<input type="text" name="name" id="fname" placeholder= "First Name" class="form-control"/>
        		</div>
        		<div class="form-group">
            		<label for="Last Name">Enter Last Name</label>
                    <br />
	            	<input type="text" name="name" id="lname" placeholder= "Last Name" class="form-control"/>
        		</div>
        		 <form name="form" role="form">
                <div class="form-group">
            		<label for="Address">Enter Address</label>
                    <br />
	            	<input type="text" name="address" id="address" placeholder= "Address" class="form-control"/>
        		</div>
        		<div class="form-group">
            		<label for="Address">Enter City</label>
                    <br />
	            	<input type="text" name="City" id="city" placeholder= "City" class="form-control"/>
        		</div>
        		<div class="form-group">
            		<label for="Address">Enter ZIP Code</label>
                    <br />
	            	<input type="zip" name="zip" id="zip" placeholder= "ZIP Code" class="form-control"/>
        		</div>
        		<div class="form-group">
            		<label for="Email">Enter Email</label>
                    <br />
	            	<input type="text" name="email" id="email" placeholder= "Email" class="form-control"/>
        		</div>
        		<div class="form-group">
            		<label for="Phone">Enter Phone Number</label>
                    <br />
	            	<input type="text" name="email" id="phone" placeholder= "XXX-XXX-XXXX" class="form-control"/>
        		</div>
        		<div class="form-group" data-toggle="tooltip" title="Password requires one number, one uppercase, and one lowercase.">
	            	<label for="password">Enter Password</label>
                    <br />
    	        	<input type="password" name="password" id="password" placeholder= "Password" class="form-control"/>
        		</div>
                <div class="form-group">
	            	<label for="password">Re-Enter Password</label>
                    <br />
    	        	<input type="password2" name="password2" placeholder= "Password" id="password2" class="form-control"/>
        		</div>
     			<div class="form-group">
     			<div class="row">
                        <a href="" id="create" class="btn btn-danger" value="create"
                        type="submit" title="Create Account" onclick()= function validateZIP(zip)>
                        <span>Create Account</span>
         			</a>
            		</div>
     			</div>
   			</form> 
    		</div>
    		</div>
    		<div class="footer">
<span style="color:black"><p>&copy;2016 <b><i>CS189 Team 4</i></b> All Rights Reserved.</p></span>
</div>
</body>
</html>
