@charset "UTF-8";
/* CSS Document */
html{
	font-family:Arial, Helvetica, sans-serif;
}
#con2{
	padding-top: 20px;
}
nav{
	background:#F00;
}
ul{
	padding: 7px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: ##D9534F;
    color: ##D9534F;
}
button{
	height: 45px;
	width: 70px;
	font-size:13px;
	color:#000;
	border-radius:5px;
	border-color: white;
	background: white;
}
input-group{
	margin-left:10px;
}
input{
	font-size:20px;
	height: 60px;
	margin-bottom: 10px;
}

container{
	background:#FFF;
}
jumbotron{
	background:#FFF;
}