@charset "UTF-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
}
#con2{
	padding-top: 20px;
}
nav{
	background:#F00;
}
ul{
	padding: 7px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: ##D9534F;
    color: ##D9534F;
}
input-group{
	margin-left:10px;
}
input{
	font-size:20px;
	height: 60px;
	margin-bottom: 10px;
}

container{
	background:#FFF;
}
jumbotron{
	background:#FFF;
}
table{
	width:50%;
	font-size:24px; 
	border-spacing: 10px;
	border-collapse: collapse;
}
th{
	padding: 10px;
}