@charset "UTF-8";
/* CSS Document */
html{
	background:url("homebackground.jpg");
}
body{
	padding-top: 20%;
    background-color: transparent;
	font-family: Arial, Gadget, sans-serif;
}
div .grid{
	background-color:transparent;
}
label{
	font-size: 18px;
	margin-top: 10px;
}
.form-control{
	font-size:16px;
	height: 30px;
	width: 300px;
	margin-bottom: 10px;
}
a.link{
	font-family:Arial, Gadget, sans-serif;
	font-size: 14px;
	color: black;
}