@charset "UTF-8";
/* CSS Document */
html{
	background:url("homebackground.jpg");
}
body{
	padding-top: 20%;
    background-color: transparent;
}
div .grid{
	background-color:transparent;
}
label{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size: 20px;
	margin-top: 10px;
	text-shadow: 4px 4px black;
	color:white;
}
.form-control{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	height: 32px;
	width: 300px;
	margin-bottom: 10px;
}
a.link{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size: 16px;
	color: white;
	text-shadow: 2px 2px black;
}