@charset "UTF-8";
/* CSS Document */
html{
	background:white;
}
body{
	font-family:Arial, Gadget, sans-serif;
}
.con2{
	background:white;
}
label{
	font-size: 22px;
	margin-top: 10px;
}
form{
	font-size:18px;
	height: 30px;
	width: 40%;
	margin-bottom: 10px;
	margin-left, margin-right: 70px;
}
div.jumbotron{
	background: white;
	margin-left, margin-right, margin-bottom; 70px;
	width:95%;
}
a{
	margin-bottom; 30px;
}